.button {
  min-height: 30px;
  padding: 0 30px;
  background: var(--color-primary);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  transition: opacity .15s ease-in-out;
}

.button:hover {
  opacity: .8;
}

.button:focus {
  outline: none;
}

.button.empty {
  background: none;
  color: var(--color-text);
  padding: 0;
}

.button.link {
  background: none;
  color: var(--color-text);
  text-decoration: underline;
  padding: 0;

  transition: color .3s ease-in-out;
}
