.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255 .8);
    display: flex;
}

.spinner {
    background-image: url(../../spinner.svg);
    background-position: center;
    background-size: contain;
    width: 70px;
    height: 70px;
    margin: auto;

    animation: spinner .7s linear infinite;
}

@keyframes spinner {
    99% {
        transform: rotateZ(359deg);
    }
}